[Unit]
Description=SA-02m MQTT-SNMP bridge
Documentation=https://github.com/wirenboard/wb-mqtt-snmp
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/bin/python3 /opt/sa02m-mqtt-snmp/sa02m-mqtt-snmp.py -c /etc/sa02m-mqtt-snmp.conf
Restart=on-failure
RestartSec=10
WatchdogSec=60
TimeoutStartSec=30
User=root
WorkingDirectory=/opt/sa02m-mqtt-snmp
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
